doctype html

html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title Angular Kickoff
    // inject:css 
    // endinject 
  body(ng-app="app" ng-controller="appController")
    ion-nav-view

    script(src='cordova.js')
    // inject:js 
    // endinject 
